In [1]:
from datasets import load_dataset, DatasetDict, Dataset
from unsloth import FastLanguageModel, is_bfloat16_supported
from trl import GRPOConfig, GRPOTrainer
import duckdb
import re

/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

ðŸ¦¥ Unsloth: Will patch your computer to enable 2x faster free finetuning.
ðŸ¦¥ Unsloth Zoo will now patch everything to make training faster!
INFO 05-19 23:00:06 [importing.py:53] Triton module has been replaced with a placeholder.
INFO 05-19 23:00:07 [__init__.py:239] Automatically detected platform cuda.

2025-05-19 23:00:08,527	INFO util.py:154 -- Missing packages: ['ipywidgets']. Run `pip install -U ipywidgets`, then restart the notebook server for rich notebook output.

### Load the dataset

In [2]:
DATASET_REPO_ID = "proton98/sql-distill-llama-3-1-70b-instruct-reasoning"
train_dataset = load_dataset(DATASET_REPO_ID, split="train")

### Prompt template

In [3]:
REASONING_START = "<think>"
REASONING_END = "</think>"
SOLUTION_START = "<sql>"
SOLUTION_END = "</sql>"

SYSTEM_PROMPT_TEMPLATE = \
f"""You are an expert in writing optimized SQL queries.
Think about the problem and provide your working out.
Place it between {REASONING_START} and {REASONING_END}.
Then, provide your solution between {SOLUTION_START} and {SOLUTION_END}.

Respond in the following format:
{REASONING_START}
{REASONING_END}
{SOLUTION_START}
{SOLUTION_END}

Context:
{{context}}""".rstrip()

### Process the dataset

In [4]:
sql_match_format = re.compile(rf"{SOLUTION_START}(.*?){SOLUTION_END}", re.DOTALL)
reasoning_match_format = re.compile(rf"{REASONING_START}(.*?){REASONING_END}", re.DOTALL)

def extract_sql(text: str) -> str | None:
    """
    Extracts the SQL using regex from the generated text.
    :param text:
    :return:
    """
    sql_match = sql_match_format.search(text)
    if sql_match:
        return sql_match.group(1).strip()


def extract_think(text: str) -> str | None:
    """
    Extracts the think using regex from the generated text.
    :param text:
    :return:
    """
    think_match = reasoning_match_format.search(text)
    if think_match:
        return think_match.group(1).strip()


def _reasoning_format(content: str) -> str:
    """
    Formatting prompt for exact match.
    :param content:
    :return:
    """
    __think = extract_think(content)
    __sql = extract_sql(content)
    return f"""{REASONING_START}\n{__think}\n{REASONING_END}\n{SOLUTION_START}\n{__sql}\n{SOLUTION_END}"""


def conversations_formatting(dataset: DatasetDict) -> Dataset | DatasetDict:
    """
    Format the conversations for the model.
    :param dataset:
    :return:
    """
    dataset = dataset.map(lambda x: {
        "prompt": [
            {"role": "system", "content": SYSTEM_PROMPT_TEMPLATE.format(context=x["sql_context"], instruction=x["sql_prompt"]).strip()},
            {"role": "assistant", "content": _reasoning_format(x["generation"])},
        ],
        "questions": x["sql_prompt"],
        "contexts": x["sql_context"],
        "answers": extract_sql(x["generation"]),
    })
    return dataset


train_dataset = conversations_formatting(train_dataset)

Map: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5000/5000 [00:00<00:00, 9004.38 examples/s]

### Load the model and tokenizer

In [6]:
MODEL_NAME = "meta-llama/Llama-3.2-3B-Instruct"
MAX_SEQ_LEN = 4096
MAX_LORA_RANK = 16
LORA_RANK = 16

model, tokenizer = FastLanguageModel.from_pretrained(
    model_name = MODEL_NAME,
    max_seq_length = MAX_SEQ_LEN,
    load_in_4bit = True,
    fast_inference = True,
    max_lora_rank = MAX_LORA_RANK,
    gpu_memory_utilization = 0.7,
)

model = FastLanguageModel.get_peft_model(
    model,
    r = LORA_RANK,
    lora_alpha = LORA_RANK,
    target_modules = ["gate_proj", "up_proj", "down_proj",],
    lora_dropout = 0,
    bias = "none",
    random_state = 3407,
    use_rslora = False,
)

==((====))==  Unsloth 2025.5.6: Fast Llama patching. Transformers: 4.51.3. vLLM: 0.8.5.post1.
   \\   /|    NVIDIA GeForce RTX 3060. Num GPUs = 1. Max memory: 12.0 GB. Platform: Linux.
O^O/ \_/ \    Torch: 2.6.0+cu124. CUDA: 8.6. CUDA Toolkit: 12.4. Triton: 3.2.0
\        /    Bfloat16 = TRUE. FA [Xformers = 0.0.29.post2. FA2 = False]
 "-____-"     Free license: http://github.com/unslothai/unsloth
Unsloth: Fast downloading is enabled - ignore downloading bars which are red colored!
Unsloth: vLLM loading unsloth/llama-3.2-3b-instruct-unsloth-bnb-4bit with actual GPU utilization = 63.86%
Unsloth: Your GPU has CUDA compute capability 8.6 with VRAM = 12.0 GB.
Unsloth: Using conservativeness = 1.0. Chunked prefill tokens = 4096. Num Sequences = 192.
Unsloth: vLLM's KV Cache can use up to 5.24 GB. Also swap space = 0 GB.
INFO 05-19 23:01:34 [config.py:717] This model supports multiple tasks: {'classify', 'embed', 'score', 'generate', 'reward'}. Defaulting to 'generate'.
INFO 05-19 23:01:34 [config.py:2003] Chunked prefill is enabled with max_num_batched_tokens=4096.
Unsloth: vLLM Bitsandbytes config using kwargs = {'load_in_8bit': False, 'load_in_4bit': True, 'bnb_4bit_compute_dtype': 'bfloat16', 'bnb_4bit_quant_storage': 'uint8', 'bnb_4bit_quant_type': 'nf4', 'bnb_4bit_use_double_quant': True, 'llm_int8_enable_fp32_cpu_offload': False, 'llm_int8_has_fp16_weight': False, 'llm_int8_skip_modules': ['lm_head', 'multi_modal_projector', 'merger', 'modality_projection', 'model.layers.1.mlp'], 'llm_int8_threshold': 6.0}
INFO 05-19 23:01:36 [core.py:58] Initializing a V1 LLM engine (v0.8.5.post1) with config: model='unsloth/llama-3.2-3b-instruct-unsloth-bnb-4bit', speculative_config=None, tokenizer='unsloth/llama-3.2-3b-instruct-unsloth-bnb-4bit', skip_tokenizer_init=False, tokenizer_mode=auto, revision=None, override_neuron_config=None, tokenizer_revision=None, trust_remote_code=False, dtype=torch.bfloat16, max_seq_len=4096, download_dir=None, load_format=bitsandbytes, tensor_parallel_size=1, pipeline_parallel_size=1, disable_custom_all_reduce=False, quantization=bitsandbytes, enforce_eager=False, kv_cache_dtype=auto,  device_config=cuda:0, decoding_config=DecodingConfig(guided_decoding_backend='auto', reasoning_backend=None), observability_config=ObservabilityConfig(show_hidden_metrics=False, otlp_traces_endpoint=None, collect_model_forward_time=False, collect_model_execute_time=False), seed=0, served_model_name=unsloth/llama-3.2-3b-instruct-unsloth-bnb-4bit, num_scheduler_steps=1, multi_step_stream_outputs=True, enable_prefix_caching=True, chunked_prefill_enabled=True, use_async_output_proc=True, disable_mm_preprocessor_cache=False, mm_processor_kwargs=None, pooler_config=None, compilation_config={"level":3,"backend":"inductor","custom_ops":["none"],"splitting_ops":["vllm.unified_attention","vllm.unified_attention_with_output"],"use_inductor":true,"compile_sizes":[],"inductor_compile_config":{"debug":false,"dce":true,"coordinate_descent_tuning":true,"trace.enabled":false,"trace.graph_diagram":false,"triton.cudagraphs":true,"compile_threads":48,"max_autotune":false,"disable_progress":false,"verbose_progress":true,"enable_auto_functionalized_v2":false},"use_cudagraph":true,"cudagraph_num_of_warmups":1,"cudagraph_capture_sizes":[512,504,496,488,480,472,464,456,448,440,432,424,416,408,400,392,384,376,368,360,352,344,336,328,320,312,304,296,288,280,272,264,256,248,240,232,224,216,208,200,192,184,176,168,160,152,144,136,128,120,112,104,96,88,80,72,64,56,48,40,32,24,16,8,4,2,1],"max_capture_size":512}
WARNING 05-19 23:01:36 [utils.py:2522] Methods determine_num_available_blocks,device_config,get_cache_block_size_bytes,initialize_cache not implemented in <vllm.v1.worker.gpu_worker.Worker object at 0x7f962c1fa0e0>
INFO 05-19 23:01:36 [parallel_state.py:1004] rank 0 in world size 1 is assigned as DP rank 0, PP rank 0, TP rank 0
WARNING 05-19 23:01:36 [interface.py:314] Using 'pin_memory=False' as WSL is detected. This may slow down the performance.
INFO 05-19 23:01:36 [cuda.py:221] Using Flash Attention backend on V1 engine.
WARNING 05-19 23:01:36 [topk_topp_sampler.py:69] FlashInfer is not available. Falling back to the PyTorch-native implementation of top-p & top-k sampling. For the best performance, please install FlashInfer.
INFO 05-19 23:01:36 [gpu_model_runner.py:1329] Starting to load model unsloth/llama-3.2-3b-instruct-unsloth-bnb-4bit...
INFO 05-19 23:01:37 [loader.py:1187] Loading weights with BitsAndBytes quantization. May take a while ...
INFO 05-19 23:01:38 [weight_utils.py:265] Using model weights format ['*.safetensors']
INFO 05-19 23:01:39 [weight_utils.py:315] No model.safetensors.index.json found in remote.

Loading safetensors checkpoint shards:   0% Completed | 0/1 [00:00<?, ?it/s]
Loading safetensors checkpoint shards: 100% Completed | 1/1 [00:01<00:00,  1.79s/it]
Loading safetensors checkpoint shards: 100% Completed | 1/1 [00:01<00:00,  1.79s/it]

Loading safetensors checkpoint shards:   0% Completed | 0/1 [00:00<?, ?it/s]
Loading safetensors checkpoint shards: 100% Completed | 1/1 [00:00<00:00,  1.23it/s]
Loading safetensors checkpoint shards: 100% Completed | 1/1 [00:00<00:00,  1.23it/s]

INFO 05-19 23:01:41 [punica_selector.py:18] Using PunicaWrapperGPU.

INFO 05-19 23:01:42 [gpu_model_runner.py:1347] Model loading took 2.2969 GiB and 5.153025 seconds
INFO 05-19 23:01:56 [backends.py:420] Using cache directory: /root/.cache/vllm/torch_compile_cache/a11df5d034/rank_0_0 for vLLM's torch.compile
INFO 05-19 23:01:56 [backends.py:430] Dynamo bytecode transform time: 13.97 s
INFO 05-19 23:02:04 [backends.py:118] Directly load the compiled graph(s) for shape None from the cache, took 7.330 s
INFO 05-19 23:02:08 [monitor.py:33] torch.compile takes 13.97 s in total
INFO 05-19 23:02:09 [kv_cache_utils.py:634] GPU KV cache size: 31,472 tokens
INFO 05-19 23:02:09 [kv_cache_utils.py:637] Maximum concurrency for 4,096 tokens per request: 7.68x
INFO 05-19 23:02:56 [gpu_model_runner.py:1686] Graph capturing finished in 47 secs, took 1.19 GiB
INFO 05-19 23:02:56 [core.py:159] init engine (profile, create kv cache, warmup model) took 74.50 seconds
Unsloth: Just some info: will skip parsing ['k_norm', 'pre_feedforward_layernorm', 'q_norm', 'post_feedforward_layernorm']
Unsloth: Just some info: will skip parsing ['k_norm', 'pre_feedforward_layernorm', 'q_norm', 'post_feedforward_layernorm']

Not an error, but Unsloth cannot patch Attention layers with our manual autograd engine since either LoRA adapters
are not enabled or a bias term (like in Qwen) is used.
Not an error, but Unsloth cannot patch O projection layer with our manual autograd engine since either LoRA adapters
are not enabled or a bias term (like in Qwen) is used.
Unsloth 2025.5.6 patched 28 layers with 0 QKV layers, 0 O layers and 28 MLP layers.

### Function rewards

In [7]:
COLORED_GREEN = "\033[92m"
COLORED_BLUE = "\033[94m"
COLORED_RESET = "\033[0m"
BOLD = "\033[1m"

response_match_format = re.compile(
    rf"^{REASONING_START}\n.*?\n{REASONING_END}\n{SOLUTION_START}\n.*?\n{SOLUTION_END}$",
    re.DOTALL | re.MULTILINE
)


def match_format_exactly(completions: list[list[dict[str, str]]], **kwargs) -> list[float]: # noqa
    """
    Check if the completions match the expected format exactly.
    :param completions:
    :param kwargs:
    :return:
    """
    scores: list[float] = []
    for completion in completions:
        score = 0
        response = completion[0]["content"]
        if response_match_format.search(response) is not None: score += 3.0
        scores.append(score)
    return scores


def match_format_approximately(completions: list[list[dict[str, str]]], **kwargs) -> list[float]: # noqa
    """
    Check if the completions match the expected format approximately.
    :param completions:
    :param kwargs:
    :return:
    """
    scores: list[float] = []
    for completion in completions:
        score = 0
        response = completion[0]["content"]
        score += 0.125 if response.count(f"{REASONING_START}\n")    == 1 else -1.0
        score += 0.125 if response.count(f"\n{REASONING_END}\n")    == 1 else -1.0
        score += 0.125 if response.count(f"\n{SOLUTION_START}\n")   == 1 else -1.0
        score += 0.125 if response.count(f"\n{SOLUTION_END}")       == 1 else -1.0
        scores.append(score)
    return scores


def validate_sql_query(sql_query: str, context: str) -> tuple[bool, str]:
    """
    Validate the SQL query against the provided context.

    Args:
        sql_query (str): The SQL query to validate.
        context (str): The context in which the SQL query is executed
            (e.g., table schema, data).
    Returns:
        tuple[bool, str]: Whether the SQL query is valid.
    """
    try:
        con = duckdb.connect(database=':memory:')

        context_statements = [stmt.strip() for stmt in context.strip().split(';') if stmt.strip()]
        for statement in context_statements:
            con.execute(statement)

        con.execute(sql_query)
        _ = con.fetchall()

        return True, "SQL query is valid and executed successfully."
    except Exception as e:
        return False, str(e)


def check_sql_reward(
    completions: list[list[dict[str, str]]],
    questions: list[str],
    answers: list[str],
    contexts: list[str],
    **kwargs # noqa
) -> list[float]:
    """
    Check the SQL reward for the given prompts and completions.
    :param completions:
    :param questions:
    :param answers:
    :param contexts:
    :param kwargs:
    :return:
    """
    responses = [completion[0]["content"] for completion in completions]
    pred_responses: list[str | None] = [extract_sql(r) for r in responses]

    print(
        '-'*20,
        f"{BOLD}Question:{COLORED_RESET} {questions[0]}{COLORED_RESET}",
        f"\n{BOLD}Response:{COLORED_RESET} \n{COLORED_GREEN}{responses[0]}{COLORED_RESET}",
        f"\n{BOLD}Real Answer:{COLORED_RESET} \n{COLORED_GREEN}{answers[0]}{COLORED_RESET}",
        f"\n{BOLD}Extracted:{COLORED_RESET} \n"
        f"{COLORED_BLUE}{pred_responses[0] if pred_responses[0] is not None else '-Invalid Format-'}{COLORED_RESET}",
    )

    scores: list[float] = []
    for pred, context, answer in zip(pred_responses, contexts, answers):
        score = 0
        if pred is None:
            scores.append(0)
            continue

        # Check if the SQL query is valid
        is_valid, _ = validate_sql_query(pred, context)

        # Check if the SQL query is similar to the true SQL
        # Correct answer gets 3 points
        if is_valid:
            # Exact match
            if pred == answer: score += 3.0
            # Match if spaces are seen
            elif pred.strip() == answer.strip(): score += 1.5
        else: score -= 1.5 # Penalty for incorrect SQL
        scores.append(score)
    return scores

### Training

In [8]:
MAX_PROMPT_LEN = 2048
MAX_COMPLETION_LEN = 1024

training_args = GRPOConfig(
    use_vllm = True,
    learning_rate = 5e-6,
    adam_beta1 = 0.9,
    adam_beta2 = 0.99,
    weight_decay = 0.1,
    warmup_ratio = 0.1,
    lr_scheduler_type = "cosine",
    optim = "paged_adamw_8bit",
    logging_steps = 1,
    bf16 = is_bfloat16_supported(),
    fp16 = not is_bfloat16_supported(),
    per_device_train_batch_size = 8,
    gradient_accumulation_steps = 1,
    num_generations = 4,
    max_prompt_length = MAX_PROMPT_LEN,
    max_completion_length = MAX_COMPLETION_LEN,
    max_steps = 500,
    save_steps = 150,
    max_grad_norm = 0.1,
    report_to = "none",
    output_dir = "outputs",
)

In [9]:
trainer = GRPOTrainer(
    model = model,
    processing_class = tokenizer,
    reward_funcs = [ # type: ignore
        match_format_exactly,
        match_format_approximately,
        check_sql_reward,
    ],
    args = training_args,
    train_dataset = train_dataset,
)
trainer.train()

==((====))==  Unsloth - 2x faster free finetuning | Num GPUs used = 1
   \\   /|    Num examples = 5,000 | Num Epochs = 1 | Total steps = 500
O^O/ \_/ \    Batch size per device = 8 | Gradient accumulation steps = 1
\        /    Data Parallel GPUs = 1 | Total batch size (8 x 1 x 1) = 8
 "-____-"     Trainable parameters = 15,138,816/3,000,000,000 (0.50% trained)

-------------------- Question: Delete health equity metrics for Arizona in 2019
Response:
<think>
To delete health equity metrics for Arizona in 2019, I need to make sure that it doesn't delete any data that doesn't exist for the specified combination of state and year. This is because there might be a few states and years with missing data, and we should avoid deleting those.

However, since there is no guarantee that rows with NULL values will be deleted automatically by default, we should explicitly use the instruction to do so or use the ON CONFLICT (or WHERE) clause to specify exactly which rows to delete.

Additionally, to ensure that we're deleting all rows where state = 'AZ' and year = 2019, I'll be using the WHERE clause along with a WHERE NOT EXISTS or WHERE IN combination.

</think>
<sql>
DELETE
FROM health_equity_metrics
WHERE state = 'AZ' AND year = 2019;
</sql>
Real Answer:
DELETE FROM health_equity_metrics WHERE state = 'AZ' AND year = 2019;
Extracted:
DELETE
FROM health_equity_metrics
WHERE state = 'AZ' AND year = 2019;

-------------------- Question: List all gas wells in the South Pars/North Dome field and their production figures
Response:
<think>
To solve this problem, we need to filter the gas wells to those located in the South Pars/North Dome field and retrieve their gas production figures.
We can achieve this using a simple SELECT statement that joins the gas_wells table with a WHERE clause to filter the wells.

We should consider using INNER JOIN to only retrieve the wells in the desired field, or LEFT JOIN if we also want to include wells with no production figure. However, in this case, since we're interested in wells with production figures, INNER JOIN seems more suitable.

Additionally, we might want to specify the field explicitly to make the query more explicit, but since the wells in the same field have the same location, we could use the WHERE clause to filter for that.

We could also consider using a more precise query to filter by multiple conditions, but in this simple case, a single WHERE clause will be sufficient.
</think>

<sql>
SELECT DISTINCT gas_wells.well_id, gas_wells.location, gas_wells.gas_production
FROM gas_wells
WHERE gas_wells.location = 'South Pars/North Dome field';
</sql>
Real Answer:
SELECT * FROM gas_wells WHERE location = 'South Pars/North Dome field';
Extracted:
SELECT DISTINCT gas_wells.well_id, gas_wells.location, gas_wells.gas_production
FROM gas_wells
WHERE gas_wells.location = 'South Pars/North Dome field';
Unsloth: Will smartly offload gradients to save VRAM!
-------------------- Question: How many electric vehicle charging stations are there in California in the 'charging_stations' table?
Response:
<think>
To answer this question, we need to filter the data to only include California in the 'charging_stations' table and then count the number of rows.
We can achieve this by using the WHERE clause and the OR condition to check for the state 'CA' (which is the abbreviation for California). We also need to remove any empty strings or NULL values for the location and state columns to make the comparison more meaningful.

Alternatively, we can use the COUNT(*) function with the WHERE clause to directly count the number of rows that match the condition.

Another approach is to use the COUNT() and case statement to count the number of rows where the state is 'CA',
This will ensure that we are counting stations with the 'CA' state but still consider charging stations without a location.

</think>

<sql>
SELECT
    COUNT(*) as total_stations
FROM
    charging_stations
WHERE
    state = 'CA' OR state = 'ca'
OR location = '' OR location IS NULL;
</sql>

However the above approach may not be suitable and could be inefficient as it scans the table multiple times. The optimal solution would be to filter the data before counting, therefore we can use the following alternative query:

sql
SELECT
    COUNT(*) as total_stations
FROM
    charging_stations
WHERE
    state = 'CA'
    AND location <> '';
</sql>

This query will more efficiently return the count of electric vehicle charging stations in California.
Real Answer:
SELECT COUNT(*) FROM charging_stations WHERE state = 'CA';
Extracted:
SELECT
    COUNT(*) as total_stations
FROM
    charging_stations
WHERE
    state = 'CA' OR state = 'ca'
OR location = '' OR location IS NULL;
-------------------- Question: What is the average salary of part-time workers who are not union members in the 'education' industry?
Response:
<think>
To find the average salary of part-time workers who are not union members in the 'education' industry, we need to first filter the workers by industry and union membership status. We can do this by joining the conditions in the WHERE clause of a SQL query. Then, we can use the AVG function to calculate the average salary.

One approach to solve this problem is to first find the sum of the salaries of non-union members in the 'education' industry, and then divide by the count of such workers.

Another approach is to use a subquery to calculate the average salary. However, the most efficient way to do this problem is to use a compound SELECT and WHERE clauses.

However, since we want to exclude the union members, we must first identify the union members in the 'education' industry. We can do this by creating a subquery for union members in the 'education' industry and subtracting them from the total count.

Alternatively, we can directly use a SQL query with a WHERE clause that accounts for both conditions.

</think>

<sql>
SELECT AVG(CASE WHEN industry = 'education' AND union_member = False THEN salary END)
FROM parttime_workers;
</sql>

Alternatively,

<sql>
SELECT AVG(salary)
FROM parttime_workers
WHERE industry = 'education' AND union_member = 0;
</sql>

In both queries, we're simply selecting the AVG value for the columns in the table where we have a row that meets our conditions.
Real Answer:
SELECT AVG(salary) FROM parttime_workers WHERE industry = 'education' AND union_member = false;
Extracted:
SELECT AVG(CASE WHEN industry = 'education' AND union_member = False THEN salary END)
FROM parttime_workers;
-------------------- Question: What is the total value of transactions for community development focused accounts in the 'community_development' schema's 'transactions' table, excluding transactions made within the last 60 days?
Response:
<think>
To calculate the total value of transactions for community development focused accounts, we need to:
1. Filter out transactions made within the last 60 days.
2. Calculate the total value of transactions for accounts in the 'community_development' schema.
3. Exclude transactions for non-community development accounts.

</think>

 SQL
```sql
SELECT
    SUM(CASE WHEN account_number IN (SELECT account_number FROM community_development.transactions) AND
                 EXTRACT(DAY FROM (CURRENT_DATE - transaction_date)) > 60 THEN transaction_amount END) AS total_value
    FROM
    community_development.transactions
    WHERE
    account_number IN (SELECT account_number FROM community_development.transactions)
    AND transaction_date BETWEEN (CURRENT_DATE - INTERVAL '60 DAY') AND CURRENT_DATE;
```
This SQL query works as follows:
1. The subquery within the IN operator filters out account numbers in the 'community_development' schema that are not in the 'community_development' transactions table.
2. The CASE expression then filters out transactions made within the last 60 days by subtracting the transaction date from the current date using theCurrent_DATE and EXTRACT function, and checks if the result is greater than 60.
3. The SUM aggregation function then adds up the transaction amounts of the remaining transactions to get the total value.

However, this approach might not be efficient if the subquery is indexed. A more efficient approach would be to join the table with a subquery that filters out accounts and transactions made within the last 60 days:

```sql
SELECT
    SUM(CASE WHEN T2.account_number IN (SELECT account_number FROM community_development.transactions) THEN T1.transaction_amount END) AS total_value
    FROM
    community_development.transactions T1
    JOIN
    (SELECT
         account_number
     WHERE
         EXTRACT(DAY FROM (CURRENT_DATE - transaction_date)) > 60
     ) T2
    ON T1.account_number = T2.account_number
    WHERE
    T1.transaction_date BETWEEN (CURRENT_DATE - INTERVAL '60 DAY') AND CURRENT_DATE;
```
Real Answer:
SELECT SUM(transaction_amount) FROM community_development.transactions WHERE account_number IN (SELECT account_number FROM community_development.accounts WHERE is_community_development = true) AND transaction_date < NOW() - INTERVAL '60 days';
Extracted:
-Invalid Format-
-------------------- Question: Find all products that use ingredients sourced from 'Canada' and have a safety record before 2019-01-01
Response:
<think>
To solve this problem, we need to join the ingredients table with a separate table that stores safety records. This assumes that there's a separate table called'safety_records' with columns 'product_id','safety_record', and'registered_date'. We will use a LEFT JOIN to include products that do not have a safety record.

Also, since we want to find products with safety records before 2019-01-01, we'll need to convert the registered_date to a date format and compare it with the given date.

However, since the problem doesn't mention the existence of safety records table, we'll assume that there is no such table for now and proceed with just the existing ingredients table.

</think>

<sql>
SELECT i.product_id, i.ingredient, i.origin
FROM ingredient i
WHERE i.origin = 'Canada' AND ( SELECT 1
                            FROM dUAL
                            WHERE registered_date < '2019-01-01'
                            )
                         OR (SELECT 1
                            FROM safety_records sr
                           WHERE sr.product_id = i.product_id
                           AND sr.registered_date < '2019-01-01');
</sql>

However, the SQL query above is not efficient and can be optimized.

<think>
A better approach would be to create a function to get the registered date from the ingredients table itself.

</think>

<sql>
CREATE TABLE ingredient_pc (product_id INT, origin TEXT, registered_date DATE);
-- populate this table with data from ingredient table and create a function to get the registered date.

-- create function to get the registered date from the ingredient_pc table
CREATE OR REPLACE FUNCTION get_registered_date( product_id INT)
RETURNS DATE
BEGIN
    DECLARE registered_date DATE;
BEGIN
    SELECT registered_date INTO registered_date
    FROM ingredient_pc
    WHERE product_id = product_id;
    RETURN registered_date;
END;
</sql>

<sql>
-- get the registered date for each product_id from ingredient_pc table
CREATE TABLE temp_table AS
SELECT product_id, origin, get_registered_date(product_id) AS registered_date
FROM ingredient
WHERE origin = 'Canada';

-- select products from temp table
SELECT product_id, ingredient, origin
FROM temp_table
WHERE registered_date < '2019-01-01';
</sql>
Real Answer:
SELECT DISTINCT product_id FROM ingredient WHERE origin = 'Canada' INTERSECT SELECT DISTINCT product_id FROM safety_record WHERE report_date < '2019-01-01';
Extracted:
SELECT i.product_id, i.ingredient, i.origin
FROM ingredient i
WHERE i.origin = 'Canada' AND ( SELECT 1
                            FROM dUAL
                            WHERE registered_date < '2019-01-01'
                            )
                         OR (SELECT 1
                            FROM safety_records sr
                           WHERE sr.product_id = i.product_id
                           AND sr.registered_date < '2019-01-01');
-------------------- Question: Who are the top 2 states with the highest public participation rates?
Response:
<think>
To find the top 2 states with the highest public participation rates, we need to rank the states based on the highest participant count.
We can do this by sorting the table in descending order by participant_count.

Since we want only the top 2 states, we can use the LIMIT clause to limit the result to the top 2 rows.
We can join the table with the ROW_NUMBER() function to assign a ranking to each state's participation rate.

But since SQL does not have a built-in ROW_NUMBER() equivalent, we will use the DENSE_RANK() function instead, which assigns the same rank to tied values.
</think>

<sql>
SELECT state, participant_count
FROM public_participation
ORDER BY participant_count DESC
LIMIT 2;
</sql>

This query will return the states with the highest public participation rates in the order of their counts. If two states have the same count, their order will remain the same.
Real Answer:
SELECT state, AVG(participant_count) FROM public_participation GROUP BY state ORDER BY AVG(participant_count) DESC LIMIT 2;
Extracted:
SELECT state, participant_count
FROM public_participation
ORDER BY participant_count DESC
LIMIT 2;
-------------------- Question: What was the average price per gram for Indica strains in Oregon in 2021?
Response:
<think>
To solve this problem, we need to find the total price for Indica strains in Oregon in 2021, and then divide it by the total number of Indica strains in Oregon in 2021.
The total price can be calculated by summing up the price column for the strain type 'Indica' in Oregon for the year 2021. The total number of Indica strains can be found by counting the number of rows with 'Oregon' as the state and 'Indica' as the strain type in the year 2021.
</think>

<sql>
SELECT AVG(price) FROM prices
WHERE state = 'Oregon' AND strain_type = 'Indica' AND year = 2021;
</sql>
Real Answer:
SELECT AVG(price) FROM prices WHERE state = 'Oregon' AND year = 2021 AND strain_type = 'Indica';
Extracted:
SELECT AVG(price) FROM prices
WHERE state = 'Oregon' AND strain_type = 'Indica' AND year = 2021;
-------------------- Question: List the unique algorithmic bias categories and corresponding descriptions.
Response:
<think>
To list the unique algorithmic bias categories and corresponding descriptions, I will join the `bias_categories` table with a hypothetical `bias_types` table that maps each category to specific types of algorithms. I assume that each row in the `bias_types` table contains a unique combination of a category and a bias type.

</think>
<- SQL:
```sql
SELECT
  category,
  description
FROM
  bias_categories
  INNER JOIN bias_types
    ON bias_categories.category_id = bias_types.category_id
GROUP BY
  category,
  description
HAVING
  COUNT(DISTINCT bias_types.bias_type) = 1;
```
This query will return only the unique bias categories and their corresponding descriptions where each category has only one type of algorithmic bias.

However, to make the query more efficient and flexible, we could use the following SQL query:
```sql
SELECT
  category,
  description,
  COUNT(DISTINCT bias_type) as bias_count
FROM
  bias_categories
  LEFT JOIN bias_types
    ON bias_categories.category_id = bias_types.category_id
GROUP BY
  category,
  description,
  bias_type
HAVING
  COUNT(bias_type) = 1;
```
But, the above query may not return the desired result if there are multiple rows in the `bias_types` table for the same category and bias type.

To handle such scenarios, the following query would be better:
```sql
SELECT
  category,
  description,
  bias_type
FROM
  bias_categories
  LEFT JOIN bias_types
    ON bias_categories.category_id = bias_types.category_id
WHERE
  (category, bias_type) IN (
  SELECT
    category,
    bias_type
  FROM
    bias_types
  GROUP BY
    category,
    bias_type
  HAVING
    COUNT(*) = 1
);
```
Alternatively, you can use a subquery with `IN` clause:
```sql
SELECT
  bc.category,
  bc.description,
  bt.bias_type
FROM
  bias_categories bc
  LEFT JOIN bias_types bt ON bc.category_id = bt.category_id
WHERE
  bc.category_id IN (
    SELECT
      category_id
    FROM bias_categories
    GROUP BY
      category_id
    HAVING
      COUNT(*) = 1
  );
```
Real Answer:
SELECT DISTINCT category, description FROM bias_categories;
Extracted:
-Invalid Format-
-------------------- Question: Which countries have more than 500,000 in climate finance investments?
Response:
<think>
To find the countries that have more than 500,000 in climate finance investments, we need to filter the data based on the 'investment_amount' column in the 'climate_finance' table. We can do this by using the 'WHERE' clause with a condition that the 'investment_amount' is greater than 500,000. We will then select the 'country' column for these countries.

</think>
<sql>
SELECT country
FROM climate_finance
WHERE investment_amount > 500000;
</sql>
Real Answer:
SELECT country FROM climate_finance WHERE investment_amount > 500000;
Extracted:
SELECT country
FROM climate_finance
WHERE investment_amount > 500000;
-------------------- Question: What was the average natural gas production in the US by year?
Response:
<think>
To find the average natural gas production by year, I need to calculate the total production for each year and then divide it by the number of platforms that were operational during each year.
I'll consider the location 'Active' as operational, so I'll count the number of platforms with that status.
Using a query that groups by year and calculates the average production would be the most efficient way to do this.
Additionally, I'll use a `SUM` function to calculate the total production for each year and a `COUNT` function to count the number of active platforms for each year.
</think>
<sql>
SELECT
    year,
    AVG(production) AS average_production
FROM
    gas_production gp
INNER JOIN
    us_platforms p ON gp.platform_id = p.platform_id
WHERE
    p.operational_status = 'Active'
GROUP BY
    year;
</sql>
Real Answer:
SELECT year, AVG(production) FROM gas_production GROUP BY year;
Extracted:
SELECT
    year,
    AVG(production) AS average_production
FROM
    gas_production gp
INNER JOIN
    us_platforms p ON gp.platform_id = p.platform_id
WHERE
    p.operational_status = 'Active'
GROUP BY
    year;
-------------------- Question: What was the total revenue generated from online ticket sales for the exhibition 'Van Gogh Alive'?
Response:
<think>
To solve this problem, we need to first find all the ticket sales for the 'Van Gogh Alive' exhibition and then calculate the total revenue.

We will use a LEFT JOIN to combine the ticket_sales table with a new table that contains the total revenue for each exhibition.

However, since we do not have a table with the total revenue information, we will assume that the revenue information is already aggregated and available in a table called 'exhibition_revenue'. The 'exhibition_revenue' table would have the exhibition_name and total_revenue for each exhibition.

If we assume that the 'exhibition_revenue' table has the following information:

 ex_id INT, exhibition_name VARCHAR(50), total_revenue DECIMAL(10,2)
</think>

<sql>
SELECT SUM(tr.ticket_price * ts.sale_date) AS total_revenue
FROM ticket_sales ts
INNER JOIN exhibition_revenue er ON ts.exhibition_name = er.exhibition_name
WHERE ts.exhibition_name = 'Van Gogh Alive';
</sql>

This SQL query will return the total revenue generated from online ticket sales for the 'Van Gogh Alive' exhibition.
Real Answer:
SELECT SUM(ticket_price) FROM ticket_sales WHERE exhibition_name = 'Van Gogh Alive';
Extracted:
SELECT SUM(tr.ticket_price * ts.sale_date) AS total_revenue
FROM ticket_sales ts
INNER JOIN exhibition_revenue er ON ts.exhibition_name = er.exhibition_name
WHERE ts.exhibition_name = 'Van Gogh Alive';
-------------------- Question: Update the 'Graduate_Students' table to change the 'Gender' to 'Prefer not to say' for students with 'Student_ID' in (101, 105, 112)
Response:
<think>
We need to update the 'Gender' column in the 'Graduate_Students' table to 'Prefer not to say' for the students with 'Student_ID' values of 101, 105, and 112. This can be achieved by using the UPDATE statement with a WHERE clause.

The WHERE clause in the UPDATE statement should specify the condition where we want to update the 'Gender' column.

</think>
<sql>

UPDATE Graduate_Students
SET Gender = 'Prefer not to say'
WHERE Student_ID IN (101, 105, 112);
</sql>
Real Answer:
UPDATE Graduate_Students SET Gender = 'Prefer not to say' WHERE Student_ID IN (101, 105, 112);
Extracted:
UPDATE Graduate_Students
SET Gender = 'Prefer not to say'
WHERE Student_ID IN (101, 105, 112);
-------------------- Question: How many mobile subscribers have each network infrastructure investment served in the last quarter?
Response:
<think>
To solve this problem, we first need to determine the start and end dates of the last quarter. Assuming the current date is as of 2022-05-01, the last quarter will run from 2022-01-01 (or the starting date of the quarter) to 2022-03-31 (or the last day of the quarter).

We will use a CASE statement to get the specific dates for Q1 and Q2.


KeyboardInterrupt: